# Mo|E
mope-project.json
target

# Code references from other projects
references

# Output of unittests
out

# Output of plotting scripts
plots

# Generated annotation files and image backups
img/*.mo
img/*.bak*

# Log files
*.log

# Archives create to distribute parts of the code
*.zip

# Merge conflict files
*.orig
