on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true
      # source: https://stackoverflow.com/a/58178121
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Create archive
        run: |
          zip -r inamo-${RELEASE_VERSION}.zip . -x \*.git/\* \*.git
      - name: Extract changelog for release version
        # explanation of sed command:
        # 1. select lines between those starting with `## [x.y.z]` and `## `
        # 2. invert this selection
        # 3. delete it
        # => only selection is remaining in stream
        run: |
          cp RELEASE_HEAD.md RELEASE.md
          printf "\n" >> RELEASE.md
          sed -e "/^## \\[${RELEASE_VERSION:1}\\]/,/^## / ! d" CHANGELOG.md | head -n -2 >> RELEASE.md
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # provided by Actions
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body_path: RELEASE.md
          draft: true
          prerelease: false
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # reference previous output
          asset_path: ./inamo-${{ env.RELEASE_VERSION }}.zip
          asset_name: inamo-${{ env.RELEASE_VERSION }}.zip
          asset_content_type: application/zip
